<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender (dev) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{traceId:-}] [%X{userId:-}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logstash TCP Appender (production / docker) -->
    <springProfile name="!default">
        <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
            <destination>${LOGSTASH_HOST:-localhost}:5044</destination>
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"app":"eduquiz-api","env":"${spring.profiles.active:-local}"}</customFields>
                <includeMdcKeyName>traceId</includeMdcKeyName>
                <includeMdcKeyName>userId</includeMdcKeyName>
            </encoder>
            <reconnectionDelay>10 seconds</reconnectionDelay>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <springProfile name="!default">
            <appender-ref ref="LOGSTASH"/>
        </springProfile>
    </root>

    <logger name="com.eduquiz" level="DEBUG"/>
</configuration>
